.login {
    display: flex;
    padding: 20vh 10vw;
    background-color: #FFE0CF;
}

.login .leftText {
    width: 40vw;
    height: 60vh;
    padding: 5%;
}

.login .form {
    width: 40vw;
    height: 60vh;
    padding: 5%;
    border-radius: 5%;
    background-color: #B88A59;
}

.login p {
    color: white;
    margin: 0;
}

.login input {
    margin: 0 0 5%;
    border: none;
    border-radius: 5vw;
    width: 100%;
}

.login img {
    height: 100px;
    margin: 0 0 5%;
}

.login .back {
    position: fixed;
    top: 0;
    right: 0;
    margin: 2vw
}