.register {
    display: flex;
    padding: 20vh 10vw;
    background-color: #FFE0CF;
}

.register .leftText {
    width: 40vw;
    height: 60vh;
    padding: 5%;
}

.register .form {
    width: 40vw;
    height: 60vh;
    padding: 5%;
    border-radius: 5%;
    background-color: #B88A59;
}

.register p {
    color: white;
    margin: 0;
}

.register input {
    margin: 0 0 5%;
    border: none;
    border-radius: 5vw;
    width: 100%;
}

.register img {
    height: 100px;
    margin: 0 0 5%;
}