.requested{
    border: none;
    background-color: #024959;
    color: #fff;
}

.completed{
    color: #D3EFBD;
}


.date{
    color: #A5A2A2;
    font-size: 0.75em;
    font-weight: lighter;
}

.title{
    font-weight: bold;
}

.comment{
    font-size: 1em;
}

.utilities{
    background-color: #FFE0CF;
    height: 200px;
    position: relative;
    padding: 10px;
}

.utilities h1{
    font-size: 1.5em;
    font-weight: bold;
}

.utilities button{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.details{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #EFF7FF;
    padding: 5px 10px;
    box-shadow: 1.5px 1.5px #FFE0CF;
}

.reportcomp{
    text-align: right;
}

@media screen and (max-width: 768px) {
    .reportcomp{
        text-align:center;
    }
    .subttl h5{
        text-align: center;
    }
    h1{
        text-align: center;
    }
}


.guestpart{
    background-color:#EFF7FF;
    color: #024959;
    border-radius: 10px;
    padding: 10px;
    /* position: relative; */
}

.cancel{
    width: 100px;
    bottom: 10px;
    position: absolute;
    right: 10px;
}

.rereg{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 100%;
}

.somespace{
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #EFF7FF;
    padding: 5px 10px;
    box-shadow: 1.5px 1.5px #FFE0CF;
}

.guestregistration h1{
    font-size: calc(1em + 1vw);
    font-weight: bold;
}

.guestregistration h5{
    font-size: calc(0.7em + 0.5vw);
}

.guestregistration .subttl{
    text-align: left;
    padding-top: 10px;
}

.maintenance h1{
    font-size: calc(1em + 1vw);
    font-weight: bold;
}

.maintenance h5{
    font-size: calc(0.7em + 0.5vw);
}

.maintenance .subttl{
    text-align: left;
    padding-top: 10px;
}

