.formContainer {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formContainer .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.formContainer .formWrapper .logo {
    color: #5d5b8d;
    font-weight: bold;
    font-size: 24px;
}
.formContainer .formWrapper .title {
    color: #5d5b8d;
    font-size: 12px;
}
.formContainer .formWrapper form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.formContainer .formWrapper form input {
    padding: 15px;
    border: none;
    width: 250px;
    border-bottom: 1px solid #a7bcff;
}
.formContainer .formWrapper form input::placeholder {
    color: #afafaf;
}
.formContainer .formWrapper form button {
    background-color: #7b96ec;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.formContainer .formWrapper form label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #8da4f1;
    font-size: 12px;
    cursor: pointer;
}
.formContainer .formWrapper form label img {
    width: 32px;
}
.formContainer .formWrapper p {
    color: #5d5b8d;
    font-size: 12px;
    margin-top: 10px;
}
.chatHome {
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chatHome .container {
    border: 1px solid white;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    .chatHome .container {
        width: 90%;
   }
}
.chatHome .container .sidebar {
    flex: 1;
    background-color: #EFF7FF;
    position: relative;
}
.chatHome .container .sidebar .navbar {
    display: flex;
    align-items: center;
    background-color: #024959;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
    color: #EFF7FF;
}
.chatHome .container .sidebar .navbar .logo {
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .chatHome .container .sidebar .navbar .logo {
        display: none;
   }
}
.chatHome .container .sidebar .navbar .user {
    display: flex;
    gap: 10px;
}
.chatHome .container .sidebar .navbar .user img {
    background-color: #CBE5FF;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    object-fit: cover;
}
.chatHome .container .sidebar .navbar .user button {
    background-color: #5d5b8d;
    color: #EFF7FF;
    font-size: 10px;
    border: none;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .chatHome .container .sidebar .navbar .user button {
        position: absolute;
        bottom: 10px;
   }
}
.chatHome .container .sidebar .search {
    border-bottom: 1px solid #024959;
}
.chatHome .container .sidebar .search .searchForm {
    padding: 10px;
}
.chatHome .container .sidebar .search .searchForm input {
    background-color: transparent;
    border: none;
    color: #333333;
    outline: none;
}
.chatHome .container .sidebar .search .searchForm input::placeholder {
    color: #A5A2A2;
}
.chatHome .container .sidebar .userChat {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333333;
    cursor: pointer;
}
.chatHome .container .sidebar .userChat:hover {
    background-color: #CBE5FF;
}
.chatHome .container .sidebar .userChat img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.chatHome .container .sidebar .userChat .userChatInfo span {
    font-size: 18px;
    font-weight: 500;
}
.chatHome .container .sidebar .userChat .userChatInfo p {
    font-size: 14px;
    color: #A5A2A2;
}
.chatHome .container .chat {
    flex: 2;
}
.chatHome .container .chat .chatInfo {
    height: 50px;
    background-color: #3CA6A6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
}
.chatHome .container .chat .chatIcons {
    display: flex;
    gap: 10px;
}
.chatHome .container .chat .chatIcons img {
    height: 24px;
    cursor: pointer;
}
.chatHome .container .chat .messages {
    background-color: #fff;
    padding: 10px;
    height: calc(100% - 100px);
    overflow: scroll;
}
.chatHome .container .chat .messages .message {
    display: flex;
    gap: 0px;
    margin-bottom: 20px;
}
.chatHome .container .chat .messages .message .messageInfo {
    display: flex;
    flex-direction: column;
    color: #A5A2A2;
    font-weight: 300;
    font-size: 10px;
    margin: 0 20px;
}
.chatHome .container .chat .messages .message .messageInfo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.chatHome .container .chat .messages .message .messageInfo span{
    margin-left: auto;
    margin-right: auto;
    margin-top:3px;
}

.chatHome .container .chat .messages .message .messageContent {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.chatHome .container .chat .messages .message .messageContent p {
    background-color: #D9D9D9;
    padding: 10px 20px;
    border-radius: 0px 10px 10px 10px;
    max-width: max-content;
}
.chatHome .container .chat .messages .message .messageContent img {
    width: 50%;
}
.chatHome .container .chat .messages .message.owner {
    flex-direction: row-reverse;
}
.chatHome .container .chat .messages .message.owner .messageContent {
    align-items: flex-end;
}
.chatHome .container .chat .messages .message.owner .messageContent p {
    background-color: #CBE5FF;
    color: #333333;
    border-radius: 10px 0px 10px 10px;
}
.chatHome .container .chat .input {
    height: 50px;
    background-color: #F5F5F5;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatHome .container .chat .input input {
    width: 100%;
    border: none;
    outline: none;
    color: #333333;
    font-size: 18px;
    background-color: #F5F5F5
}
.chatHome .container .chat .input input::placeholder {
    color: #D9D9D9;
}
.chatHome .container .chat .input .send {
    display: flex;
    align-items: center;
    gap: 10px;
}
.chatHome .container .chat .input .send img {
    height: 24px;
    cursor: pointer;
}
.chatHome .container .chat .input .send button {
    border: none;
    padding: 10px 15px;
    color: white;
    background-color: #3CA6A6;
    cursor: pointer;
}
