.events .column {
    float: left;
    width: 33%;
    padding: 20px;
}

/* Remove extra left and right margins, due to padding in columns */
.events .roww {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.events .roww:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.events .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 16px;
    /* text-align: center; */
    background-color: #EFF7FF;
    color: #024959;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 100%;
}

@media screen and (max-width: 1073px) {
    .events .column {
        width: 50%;
        display: block;
        margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 767px) {
    .events .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

.col-75 {
    float: left;
    width: 100%;
    margin-top: 6px;
}

.events .title {
    font-weight: bold;
    margin-left: 5px;
    margin-bottom:0px;
}

.line{
    margin-top: 5px;
}

.laundry .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 16px;
    /* text-align: center; */
    background-color: #024959;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.test .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 16px;
    /* text-align: center; */
    background-color: #EFF7FF;
    color: #024959;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
