.WelcomeButton{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto 40px;
    border-radius: 14px;
    background-color: #CBE5FF;
    padding: 80px;
}

.WelcomeButton .welcome-img{
    flex: 1;
}

.WelcomeButton .welcome-msg{
    flex: 2;
}

.WelcomeButton img{
    width: 30%;
}

.subheader{
    color: #024959;
}

.events-card{
    margin: 30px 10px;
    background-color: #e97379;
    border-radius: 14px;
    color: white;
    padding: 20px;
}

.events-card:hover{
    background-color: #a3be5f;
    cursor: pointer;
}

img.profile {
    border-radius: 50%;
}