.screen {
    color: #282c34;
    height: calc(100vh - 56px);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 5vh 10vw;
}

.laundry, .chats {
    background-color: #f5bfa2;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.screen img {
    width: max(40vw, 40vh);
    height: max-content;
}

.content {
    padding: min(2vh, 2vw) 0 min(2vh, 2vw) min(4vh, 4vw);
}