html {
  scroll-padding: 56px;
  scroll-behavior: smooth;
}

.App {
  background-color: #ffffff;
  height: calc(400vh - 69px);
}

.App-header {
  height: 200vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.main {
  background-color: white;
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  overflow: hidden;
}

img.logo {
  height: calc(50vw*585/1280);
  width: 50vw;
  margin-top: 10vh;
}

img.house {
  width: max(100vh, 100vw);
  position: absolute;
  bottom: 0;
}

.screen {
  color: #282c34;
  height: calc(100vh - 56px);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 5vh 10vw;
}

.laundry, .chats {
  background-color: #f5bfa2;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.screen img {
  width: max(40vw, 40vh);
  height: max-content;
}

.content {
  padding: min(2vh, 2vw) 0 min(2vh, 2vw) min(4vh, 4vw);
}