

.events-header{
    display: flex;
    justify-content: space-between;
}

.events-header button{
    max-height: 50px;
}

.events-header h3{
    font-size: calc(1em + 1vw);
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 100%;
}

.events .somespace{
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #EFF7FF;
    padding: 5px 10px;
    box-shadow: 1.5px 1.5px #FFE0CF;
}

.events span{
    font-weight: bold;
}

.events .create{
    text-align: right;
}

.events h5{
    font-size: calc(0.7em + 0.5vw);
}

@media screen and (max-width: 768px){
    .events .create{
        text-align: center;
    }
    .events h5{
        text-align: center;
    }
}

